body {
    background-image: url("/img/backround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

.navbar-background-color {
    background-color: #7a5b05 !important;
}

.light-text {
    color: #d3cecb !important;
}

.dark-text {
    color: #7a5b05 !important;
}

.dropdown-item:hover {
    color: black !important;
}

.about-us {
    font-family: "Bookman Old Style";
    font-size: 18px;
    position: relative;
    text-align: center;
    top: 5vh;
    font-weight: bold;
}

h1 {
    font-family: "Bookman Old Style";
    font-size: 30px;
    position: relative;
    top: 0vh;
    text-align: center;
    font-weight: bold;
}

.container {
    width: 95%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.center-text {
    text-align: center;
}

.button-buy {
    background-color: #d3cecb;
    color: #7a5b05;
    border: 2px solid #1f69b2;
    font-weight: bold;
    text-align: center;
}

.button-login {
    background-color: #7a5b05;
    color: #d3cecb;
    border: 2px solid #d3cecb;
    font-weight: bold;
    text-align: center;
}

.button-login:hover {
    background-color: #d3cecb;
    color: #7a5b05;
}

.button-buy:hover {
    background-color: #1f69b2;
    color: #d3cecb;
}

.products {
    position: relative;
    float: bottom;
    width: 100%;
}

.products-img {
    float: left;
    padding: 2px;
    overflow: hidden;
    margin-bottom: 20px;
    height:auto;
}

.products-title {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 20px 0;
}

h2 {
    font-family: "Bookman Old Style";
}

.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card-colors {
    color: #7a5b05;
}
